.navbar-custom {
    background-color: #333333;
    padding: 20px;
    box-shadow: 0 2px 4px #007bff;
  }
  
  .navbar-custom .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
  }
  
  .navbar-custom .nav-link.active {
    color: #0298de !important;
  }
  
  
  .navbar-custom .nav-link:hover {
    color: #0298de;
  }